body {
    margin: 0;
    padding: 0;
    background: #8b39f099;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #383838;
    outline: none;
    text-decoration: none;
    background-color: rbga(255, 255, 255, 0.75);
}

.calculator > button:hover {
    background-color: #cecece;
}

#clear, #result {
    color: #F0ED3A;
    background-color: #8b39f099;
}

#clear {
    grid-column: span 2;
}

#output {
    grid-column: 1 / -1;
    font-size: 2rem;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px 10px 0px 0px;
}