@charset "UTF-8";

:root {
    --bg-output-color: #000000bf;
    --bg-color: #8b39f099;
    --button-border-color: #929292;
    --button-hover-color: #a9a9a9;
    --button-constrast-color: #8b39f099;
    --button-constrast-text-color: #f0ed3a; 
    --button-hover-contrast-color: #bf95f199;
    --previous-operand-text-color: #ffffffbf;
    --current-operand-text-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--button-border-color);
    outline: none;
}

.calculator-grid > button:hover {
    background-color: var(--button-hover-color);
}

.span-two {
    grid-column: span 2;
}

.purple {
    color: var(--button-constrast-text-color);
    background-color: var(--button-constrast-color);
}

button.purple:hover {
    background-color: var(--button-hover-contrast-color);
}

.output {
    grid-column: 1 / -1;
    background-color: #000000bf;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-top: 50px;
}

.output .previous-operand {
    color: var(--previous-operand-text-color);
    font-size: 1.5rem;
}

.output .current-operand {
    color: var(--current-operand-text-color);
    font-size: 2.5rem;
}